.c-users-list {
  display: table;
  width: 100%;
  margin-bottom: 24px;
  font-size: 14px;

  .c-users-list__header {
    display: table-row;
    font-size: 16px;
    font-weight: 500;
    white-space: nowrap;
    background-color: #2b0242;

    > div {
      display: table-cell;
      text-align: center;
      vertical-align: middle;
      padding: 15px 5px;
      font-size: 14px;
      color: white;
    }
  }

  .c-users-list__body {
    display: table-row;
    height: 64px;
    &:nth-child(odd) {
      background-color: #f3f3f3;
    }

    > div {
      display: table-cell;
      padding: 0 8px;
      vertical-align: middle;
    }
  }

  .c-users-list__avatar {
    width: 32px;
    height: 32px;
    margin-right: 8px;
    border-radius: 50%;
  }

  .c-users-list__performance-index {
    text-align: center;
  }

  .c-users-list__date {
    white-space: nowrap;
  }

  .c-users-list__main-info {
    display: flex;
    align-items: center;
  }
  .c-users-list__highlight {
    background: yellow;
  }
}
